@mixin responsive-image($view) {
  -webkit-background-size: $view;
  -moz-background-size: $view;
  -o-background-size: $view;
  background-size: $view;
}

@mixin smooth-operator($time){
  -webkit-transition: background-color $time;
  -moz-transition: background-color $time;
  -o-transition: background-color $time;
  transition: background-color $time;

}