@mixin responsive-image($view){
  -webkit-background-size: $view;
  -moz-background-size: $view;
  -o-background-size: $view;
  background-size: $view;
}

@mixin smooth-operator($time){
  -webkit-transition: background-color $time;
  -moz-transition: background-color $time;
  -o-transition: background-color $time;
  transition: background-color $time;

}

@mixin breakpoint($point) {
  @if $point == mobile {
    @media all and (max-width: $screen-xs-max) { @content; }
  }
  @else if $point == tablet {
    @media all and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      @content;
    }
  }
  @else if $point == desktop {
    @media all and (min-width: $screen-md) and (max-width: $screen-md-max) {
      @content;
    }
  }
  @else if $point == large {
    @media all and (min-width: $screen-lg) {
      @content;
    }
  }
}