.background-image {
  background: url(../img/marionettes.png) center center fixed repeat;
  @include responsive-image(cover);
}

.content-box{
  margin: 75px 20px;
  padding: 10px 5px;
  height: 650px;
  width: 500px;
  background-color: $pink;
  position: relative;
    @include breakpoint(mobile){
      height: 600px;
      width: 350px;
      &.about-box {
        height: 650px;
      }
      &.workshop-box {
        height: 700px;
      }
    }
    @include breakpoint(tablet){
      height: 625px;
      width: 350px;
      &.about-box {
        height: 650px;
      }
      &.workshop-box {
        height: 700px;
      }
    }
    @include breakpoint(desktop){
      height: 650px;
    }
}

.words-box{
  padding: 10px;
  height: 400px;
  width: 450px;
  @include breakpoint(mobile){
    height: 400px;
    width: 325px;
  }
   @include breakpoint(tablet){
    height: 400px;
    width: 325px;
  }
}

.button-box{
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  // height: 75px;
  // width: 450px;
  // @include breakpoint(mobile){
  //   height: 50px;
  //   width: 325px;
  //   margin: 0 7.5%;
  // }
  //  @include breakpoint(tablet){
  //   height: 50px;
  //   width: 325px;
  //   margin: 0;
  // }
}

.navigation{
  list-style-type: none;
  &.not-home {
    margin: 0 0 0 5%;
  }
}

.list-no-pad {
  padding-left: 0;

}

.inline-element{
  display: inline;
}

.sticky-bottom{
   position: absolute;
   bottom: 10px;
}

.sticky-bottom-popup{
   position: absolute;
   bottom: 60px;
}
.party-box {
  width: 100px;
  height: 150px;
  text-align: justify;
  line-height: 1.6em;
}

.xs-nav-action {
  padding: 10px;
}




.content-box-pirate {
  margin: 75px 20px;
  padding: 10px 5px;
  height: 650px;
  width: 500px;
  background-color: $pink;
    @include breakpoint(mobile){
      height: 600px;
      width: 350px;
      &.about-box {
        height: 650px;
      }
      &.workshop-box {
        height: 700px;
      }
    }
    @include breakpoint(tablet){
      height: 625px;
      width: 350px;
      &.about-box {
        height: 650px;
      }
      &.workshop-box {
        height: 700px;
      }
    }
    @include breakpoint(desktop){
      height: 650px;
    }
}




.content-box-princess {
  margin: 75px 20px;
  padding: 10px 5px;
  height: 650px;
  width: 500px;
  background-color: $pink;
    @include breakpoint(mobile){
      height: 600px;
      width: 350px;
      &.about-box {
        height: 650px;
      }
      &.workshop-box {
        height: 700px;
      }
    }
    @include breakpoint(tablet){
      height: 625px;
      width: 350px;
      &.about-box {
        height: 650px;
      }
      &.workshop-box {
        height: 700px;
      }
    }
    @include breakpoint(desktop){
      height: 650px;
    }
}

.content-box-superhero {
  margin: 75px 20px;
  padding: 10px 5px;
  height: 650px;
  width: 500px;
  background-color: $pink;
    @include breakpoint(mobile){
      height: 600px;
      width: 350px;
      &.about-box {
        height: 650px;
      }
      &.workshop-box {
        height: 700px;
      }
    }
    @include breakpoint(tablet){
      height: 625px;
      width: 350px;
      &.about-box {
        height: 650px;
      }
      &.workshop-box {
        height: 700px;
      }
    }
    @include breakpoint(desktop){
      height: 650px;
    }
}