.btn{
  padding: 8px 10px;
  margin: 1px;
  font-family: 'tondu beta', helvetica, arial, sans-serif;
  font-size: 1.25em;
  border-radius: 6px;
  &:hover, &:focus, &:active, &:visited {
    outline: none;
    border: none;
  }
  @include breakpoint(mobile){
    padding: 4px 6px;
    margin: .5px;
    font-size: 1em;
  }
  @include breakpoint(tablet){
    padding: 4px 6px;
    margin: .5px;
    font-size: 1em;
  }

  @include smooth-operator(700ms);

  &.green-button{
    background-color: $jade;
    color: $lime;
    &:hover{
      background-color: $lime;
      color: $jade;

    }
  }

  &.green-button-home{
    padding: 7px 9px;
    margin: .5px;
    font-size: 1.25em;
    background-color: $jade;
    color: $lime;
    &:hover{
      background-color: $lime;
      color: $jade;

    }
    @include breakpoint(mobile){
      padding: 3px 5px;
      margin: .5px;
      font-size: .85em;
    }
    @include breakpoint(tablet){
      padding: 3px 5px;
      margin: .5px;
      font-size: .85em;
    }
  }

  &.rose-button{
    background-color: $rose;
    color: $melon;
    &:hover{
      background-color: $melon;
      color: $white;
    }
  }

  &.rose-button-home{
    padding: 7px 9px;
    margin: .5px;
    font-size: 1.25em;
    background-color: $rose;
    color: $melon;
    &:hover{
      background-color: $melon;
      color: $white;
    }
    @include breakpoint(mobile){
      padding: 3px 5px;
      margin: .5px;
      font-size: .85em;
    }
    @include breakpoint(tablet){
      padding: 3px 5px;
      margin: .5px;
      font-size: .85em;
    }
  }

  &.tiny-button {
    background-color: $rose;
    color: $melon;
    font-size: 1em;
    padding: 5px 8px;
    margin: 2px;
  }
}

