.btn{
  padding: 10px 15px;
  margin: 2px;
  font-family: 'tondu beta', helvetica, arial, sans-serif;
  font-size: 1.25em;
  border-radius: 6px;


  @include smooth-operator(700ms);

  &.green-button{
    background-color: $jade;
    color: $lime;
    &:hover{
      background-color: $lime;
      color: $white;
    }
  }

  &.rose-button{
    background-color: $rose;
    color: $melon;
    &:hover{
      background-color: $melon;
      color: $white;
    }
  }
}

